[submodule "extern/google-FILM"]
	path = extern/frame_interpolation
	url = https://github.com/google-research/frame-interpolation
[submodule "extern/GFPGAN"]
	path = extern/GFPGAN
	url = https://github.com/TencentARC/GFPGAN.git
[submodule "extern/frame_interpolation"]
	path = extern/frame_interpolation
	url = https://github.com/google-research/frame-interpolation
[submodule "wiki"]
	path = wiki
	url = https://github.com/melMass/comfy_mtb.wiki.git
