onnxruntime-gpu==1.15.1
imageio===2.28.1
qrcode[pil]
numpy==1.23.5
insightface==0.7.3
mmcv==2.0.0
mmdet==3.0.0
rembg==2.0.37
facexlib==0.3.0
basicsr==1.4.2
# on windows non WSL 2.10 is the last version with GPU support
tensorflow<2.11.0; platform_system == "Windows"
tb-nightly==2.12.0a20230126; platform_system == "Windows"
tensorflow; platform_system != "Windows"
# the old tf version on windows comes with a breaking protobuf version
protobuf==3.19.6
gdown @ git+https://github.com/melMass/gdown@main
pytoshop