html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
}

a {
    color: whitesmoke;

}

.table-container {
    width: 70%;
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgb(45, 45, 45);
    /* Light gray background for header row */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgb(45, 45, 45);
    /* Alternate row background color */
}

tr:hover {
    background-color: #797979;
    /* Highlight color on hover */
}

td:nth-child(2) {
    /* Applies to the second column (Description) */
    width: 80%;
    /* Adjust the width as needed */
    word-wrap: break-word;
    /* Allow long words to be broken and wrapped to the next line */
}

.mtb_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for WebKit-based browsers (Chrome, Edge) */
.table-container::-webkit-scrollbar {
    width: 10px;
    /* Set the width of the scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #797979;
    /* Color of the scrollbar thumb */
}

/* Styling for Firefox */
.table-container {
    scrollbar-width: thin;
    /* Set the width of the scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #797979;
    /* Color of the scrollbar thumb */
}

/* Optionally, you can also style the scrollbar track (background) */
.table-container::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}



body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    height: 100%;
    background-color: rgb(33, 33, 33);

}

.title {
    font-size: 2.5em;
    font-weight: 700;

}

header {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    padding: 1em;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    padding: 1em;
    margin: 0;
    /* height: 80%; */
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.menu {
    font-size: 3em;
    text-align: center;
}

input, button, textarea {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
}

button:hover {
    background-color: rgba(0,0,0,0.3);

}
button {
    padding: 14px 16px;

}
/* -STYLES EDITOR */

#style-editor {
    display: flex;
    flex-direction: column;
    width:100%;
    
}

#style-editor > table {
    /* background-color: red; */
    width:100%;
}
#style-editor input, #style-editor textarea {
    /* background-color: blue; */
    width:100%;
}

#style-editor td{
    width: 33.33%;
}

/* -TABS */

.tab {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.tab-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tab button {
    background-color: transparent;
    color:white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width:100%;
    font-size: 1.5em;
}

.tab button.active {
    background-color: #2e2e2e;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}



.foldable-title {
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.foldable-symbol {
    margin-right: 10px;
}

.foldable-content {
    display: none;
    flex-direction: column;
    margin-left: 20px;
}
